In [8]:
import numpy as np
import pandas as pd
import knn
from sklearn.model_selection import train_test_split

In [9]:
#read in the data using pandas
df = pd.read_csv('../datasets/diabetes.csv') #https://www.kaggle.com/datasets/uciml/pima-indians-diabetes-database
df = df.reindex(np.random.permutation(df.index)).reset_index(drop = True)
display(df)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,108,60,46,178,35.5,0.415,24,0
1,0,180,78,63,14,59.4,2.420,25,1
2,3,113,44,13,0,22.4,0.140,22,0
3,2,99,60,17,160,36.6,0.453,21,0
4,4,154,62,31,284,32.8,0.237,23,0
...,...,...,...,...,...,...,...,...,...
763,3,128,72,25,190,32.4,0.549,27,1
764,2,92,52,0,0,30.1,0.141,22,0
765,0,118,64,23,89,0.0,1.731,21,0
766,4,141,74,0,0,27.6,0.244,40,0
767,0,100,88,60,110,46.8,0.962,31,0

In [10]:
X = df[df.columns[:-1]]
y = df[df.columns[-1]]

#split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

display(X_train)
display(X_test)
display(y_train.to_frame())
display(y_test.to_frame())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
205,4,99,76,15,51,23.2,0.223,21
68,3,125,58,0,0,31.6,0.151,24
523,9,91,68,0,0,24.2,0.200,58
691,6,109,60,27,0,25.0,0.206,27
40,6,137,61,0,0,24.2,0.151,55
...,...,...,...,...,...,...,...,...
298,6,91,0,0,0,29.8,0.501,31
473,0,105,68,22,0,20.0,0.236,22
100,0,126,86,27,120,27.4,0.515,21
379,5,104,74,0,0,28.8,0.153,48
629,0,101,76,0,0,35.7,0.198,26

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
108,1,95,74,21,73,25.9,0.673,36
756,4,144,82,32,0,38.5,0.554,37
518,5,128,80,0,0,34.6,0.144,45
755,0,126,84,29,215,30.7,0.520,24
294,1,102,74,0,0,39.5,0.293,42
...,...,...,...,...,...,...,...,...
566,1,128,48,45,194,40.5,0.613,24
535,8,179,72,42,130,32.7,0.719,36
570,1,107,72,30,82,30.8,0.821,24
323,0,102,64,46,78,40.6,0.496,21
119,8,196,76,29,280,37.5,0.605,57

     Outcome
205        0
68         0
523        0
691        0
40         0
..       ...
298        0
473        0
100        0
379        0
629        0

[614 rows x 1 columns]

     Outcome
108        0
756        1
518        0
755        0
294        1
..       ...
566        1
535        1
570        0
323        0
119        1

[154 rows x 1 columns]

In [11]:
knn_testing = knn.KNN_self(n_neighbors = 2, distance_metric="manhattan", weighting=False)

knn_testing.fit(X_train, y_train)

In [12]:
predictions = knn_testing.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1],
      dtype=int64)

In [13]:
knn_testing.accuracy(predictions, y_test)

0.4675324675324675